<!DOCTYPE html>
<html>
  <head>
    <meta http-eqiv="content-type" content="text/html;charset=utf-8" />
    <title>V by Example: Not Found</title>
    <link rel="stylesheet" href="site.css" />
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">V by Example</a></h2>
      <p>
        Sorry, we couldn't find that! Check out the <a href="./">home page</a>?
      </p>
      <p class="footer">
        Inspired by
        <a href="https://gobyexample.com">Go by Example - Mark McGranaghan</a> |
        by <a href="https://github.com/itsbalamurali">Balamurali Pandranki</a> |
        <a href="mailto:balamurali@live.com">feedback</a> |
        <a href="https://github.com/itsbalamurali/vbyexample">source</a> |
        <a href="https://github.com/itsbalamurali/vbyexample#license"
          >license</a
        >
      </p>
    </div>
  </body>
</html>
